

.logo {

    clear: both;
    width: 100%;
    background-color: rgb(184, 48, 111);
}

/*th{
    color: rgb(184, 48, 111);
    font-size: 25px;
}

table,tr,td{ 
    display: block;
    margin-left: 1em;

}

.table-image{ 
    width: 20%;
    clear: both;
    display: inline-block;
}*/

table {
    width: 100%; /* permet que le tableau utilise tous l'espace*/
    border-collapse: collapse; /*elimine l'espace entre les celules*/
}

th{
    color: rgb(184, 48, 111);
    font-size: 25px;
}

td img {
    max-width: 100%; /* Assure que les images ne débordent pas de leurs cellules */
    height: auto; /* Maintient l'aspect ratio des images */
}

.table-image td {
    display: inline-block; /* Pour un affichage côte à côte des cellules, dans les limites de ce style */
    vertical-align: top; /* Alignement vertical pour le contenu des cellules */
    width: 30%; /* Répartition équitable de l'espace entre les cellules */
    margin: 0; /* Réinitialise les marges pour les cellules dans cette ligne */
}


.image {

    clear: both;
}


#desinscription{
   
    width: 50%;
    text-align: center;
}

a{ color:  rgb(184, 48, 111) ;}

.Design{ 
    clear: both;
    color:rgb(243, 236, 236);
    text-decoration: underline;
    background-color:  rgb(184, 48, 111);
    padding: 30px;
    text-align: right;

}










